*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
}

.app{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100vh;
}

hr{
  color: white;
}


