* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 50vw;
    min-height: 100%;
    object-fit: cover;
}

h1{
    position: absolute;
    color: white;
}

p{
    position: absolute;
    top: 25px;
    color: white;
}