* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
  
img {
    max-width: 50vw;
    min-height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}